@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.body {
  max-width: 600px;
  width: 100%;
  padding-left: 25px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.info-section {
  position: absolute;
  top: 20px;
  right: 120px;
}

.info-section .bg-color {
  background-color: #add3f7;
  padding: 20px;
  border-radius: 10px;
  color: #004383;
  line-height: 1.7;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #d9d9d9;
  font-family: "Roboto", sans-serif;
}
section.chat__section {
  width: 100%;
  margin-top: 90px;
  max-width: 90%;
  background: #fff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  position: relative;
}
.brand {
  padding: 20px;
  background: #add3f7;
  display: flex;
  align-items: center;
}
.brand h1 {
  text-transform: uppercase;
  font-size: 20px;
  color: #444;
  margin-left: 10px;
}
.message__area {
  height: 500px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-top: 40px;
}

.chat__section .error-msg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
textarea {
  width: 100%;
  border: none;
  padding: 20px;
  font-size: 16px;
  outline: none;
  background: #fbfbfb;
}

.message {
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 40px;
  max-width: 300px;
  position: relative;
}
.incoming {
  background: #add3f7;
  color: black;
}
.outgoing {
  background: #add3f787;
  color: black;
  margin-left: auto;
}
.message h4 {
  position: absolute;
  top: -20px;
  left: 0;
  color: #004383;
  font-size: 14px;
}
.text-type {
  position: relative;
}
.text-type img {
  position: absolute;
  top: 25%;
  right: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  object-fit: cover;
}

@media only screen and (max-width: 786px) {
  .info-section {
    right: 20px;
  }
}
